[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
loguru = "*"
"nekos.py" = "*"
levenshtein = "*"
discordutils = "*"
yt-dlp = "*"
romkan = "*"
mido = "*"
schedule = "*"
cairosvg = "*"
matplotlib = "*"
simpledemotivators = {file = "https://github.com/Infqq/simpledemotivators/archive/main.zip"}
"discord.py" = {extras = ["voice"], version = "*"}
pillow = {file = "https://github.com/python-pillow/Pillow/archive/refs/tags/9.5.0.zip"}
pretty-errors = "*"

[dev-packages]

[requires]
python_version = "3.9"
