[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pymongo = "*"
loguru = "*"
pillow = "*"
"nekos.py" = "*"
levenshtein = "*"
discordutils = "*"
yt-dlp = "*"

[dev-packages]

[requires]
python_version = "3.9"
