[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
"nekos.py" = "*"
levenshtein = "*"
discordutils = "*"
yt-dlp = ">=2023.7.06"
romkan = "*"
mido = "*"
schedule = "*"
cairosvg = "*"
matplotlib = "*"
"discord.py" = {extras = ["voice"], version = "*"}
Pillow = "*"
pretty-errors = "*"
pyyaml = "*"
requests = ">=2.31.0"
aiohttp = ">=3.8.5"
certifi = ">=2023.7.22"
urllib3 = ">=1.26.1"
pycryptodomex = ">=3.19.1"
fonttools = ">=4.43.0"

[dev-packages]

[requires]
python_version = "3"
